* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

#canvas1 {
    border: 2px solid black;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    max-width: 100%;
    max-height: 100%;
    font-family: 'Changa', sans-serif;
}

#button-panel {
    position: absolute;
    left: 145px;
    bottom: 12%;
}

#music-button {
    font-size: 20px;
    padding: 5px;
    background-color: #4CAF50;
    color: white;
    border-radius: 5px;
    box-shadow: 0px 2px 5px rgba(0, 0, 0, 0.3);
    transition: background-color 0.3s ease-in-out;
  }
  
  #music-button:hover {
    background-color: #3e8e41;
  }
#player, #layer1, #layer2, #layer3, #layer4, #layer5, #layer6, #layer7, #layer8, #layer9, #woodenBox, #ground, #water, #lives, #box, #mystery-box, #mystery-box-opened, #health-powerup, #star-powerup, #star-powerup-empty, #fire  {
    display: none;
}